@media screen and (max-width:575px) {
    /* navbar media */
    header{
        padding: 30px 0;
    }
    nav, .nav-menu > ul, .quick, .features{
        flex-direction: column;
    }
    .nav-links{
        font-size: 2rem;
        color: #424242;
        margin-right: 0px;
    }
    .nav-menu li{
        padding: 20px;
        text-align: center;
        padding: 15px;
    }
    /* banner media */
    .banner-title {
        font-size: 2rem;
        margin-top: 20px;
    }
    /* quick media */
    .quick-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .quick, .facts-title{
        margin-top: 30px;
    }
    .quick-content{
        margin: 30px 0;
        margin-left: 20px;
    }
    /* features media */
    .features{
        margin-top: 30px;
        gap: 30px;
    }
    .features-content{
        margin-left: 20px;
    }
    .features-card{
        margin-bottom: 10px;
    }
    .features-img img{
        width: 100%;
    }
    .features-img .bnt-primary{
        display: none;
    }
    /* facts media */
    .fact-card{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
    }
    .facts{
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .facts-description{
        margin: 18px 0 30px;
    }
    /* sponsors media */
    .sponsors-companies{
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 25px;
        margin-bottom: 50px;
    }
    /* footer media */
    .footer{
        display: none;
    }
}



@media screen and (min-width: 576px) and (max-width:991px) {
    /* nav media */
    .nav-title, .features-content, .facts, .sponsors-companies{
        margin-left: 20px;
    }
    /* banner media */
    .banner-title, .features{
        margin-top: 50px;
    }
    /* quick media */
    .quick, .features{
        flex-direction: column;
    }
    .quick-img{
        gap: 40px;
    }
    .quick-content{
        margin-top: 30px;
        text-align: center;
    }
    /* features media */
    .features{
        gap: 0;
    }
    .features-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .features-card{
        text-align: center;
        margin-bottom: 0;
    }
    .features-img img{
        width: 100%;
        margin-top: 40px;
    }
    .features-img button{
        display: none;
    }
    /* facts media */
    .facts{
        margin-top: 50px;
    }
    .facts-description{
        margin: 22px 0 50px;
    }
    .fact-card{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    .facts{
        margin-bottom: 50px;
    }
    /* sponsors media */
    .sponsors-companies{
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    /* footer media */
    .footer{
        margin: 50px;
    }
    .footer p{
        padding: 20px 0;
        font-size: 1rem;
    }
}