@media screen and (max-width:575px) {
    /* navbar media */
    header{
        padding: 30px 0;
    }
    nav, .nav-menu > ul, .quick{
        flex-direction: column;
    }
    .nav-links{
        font-size: 2rem;
        color: #424242;
        margin-right: 0px;
    }
    .nav-menu li{
        padding: 20px;
        text-align: center;
        padding: 15px;
    }
    /* banner media */
    .banner-title {
        font-size: 2rem;
        margin-top: 20px;
    }
    /* quick media */
    .quick-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .quick{
        margin-top: 30px;
    }
    .quick-content{
        margin: 30px 0;
        margin-left: 20px;
    }
    
}
@media screen and (min-width: 576px) and (max-width:991px) {
    /* nav media */
    .nav-title{
        margin-left: 20px;
    }
    /* banner media */
    .banner-title{
        margin-top: 50px;
    }
    /* quick media */
    .quick{
        flex-direction: column;
    }
    .quick-img{
        gap: 40px;
    }
    .quick-content{
        margin-top: 30px;
        text-align: center;
    }
}